.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  // justify-content: space-between;

  &-item {
    margin: 15px;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border: 1px solid $svg-color;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $accent-font-color;
    }
  }

  &-svg {
    fill: $svg-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .clients-list-link:hover &-svg,
  .clients-list-link:focus &-svg {
    fill: $accent-font-color;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .clients-list {
    &-item {
      width: calc((100% - 30px * 2) / 2);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    &-link {
      width: 226px;
    }

    &-item {
      width: calc((100% - 30px * 3) / 3);
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    &-link {
      width: 170px;
    }
  }
}
