.heroe {
  background-color: $background-color;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  &-title {
    margin-bottom: 30px;
    @include font(900, 26px, 1.615, 0.06em);
    text-transform: uppercase;
    color: $second-accent-font-color;
  }
}

@media screen and (max-width: 767px) {
  .heroe {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe/bg-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .heroe {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .heroe {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe/bg-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .heroe {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .heroe {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe/bg-desktop.jpg);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    &-title {
      @include short-font(44px, 60px);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .heroe {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe/bg-desktop@2x.jpg);
  }
}
