$primary-font: "Roboto", san-serif;
$secondary-font: "Raleway", san-serif;
$primary-font-color: #757575;
$secondary-font-color: #212121;
$accent-font-color: #2196f3;
$second-accent-font-color: #ffffff;
$background-color: #2f303a;
$second-bg-color: #f5f4fa;
$svg-color: #afb1b8;
